<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="monitor" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="false"/>
		<param name="maxFileSize" value="10KB"/>
		<param name="maxBackupIndex" value="5"/>
		<param name="file" value="d:/sgh/project/ourProject/src/main/webapp/logs/mylogs.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
		
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info"/>
			<param name="LevelMax" value="info"/>
		</filter>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.springmvc">
		<level value="info" />
		<appender-ref ref="monitor"/>
	</logger>
	
	 <!-- JDBC 로그 레벨 조정 -->
    <logger name="org.springframework.jdbc">
        <level value="info" />
    </logger>
    <logger name="org.springframework.jdbc.core">
        <level value="info" />
    </logger>
     <logger name="org.springframework.jdbc.core.JdbcTemplate">
        <level value="info" />
    </logger>
     <logger name="org.springframework.jdbc.datasource">
        <level value="info" />
    </logger>
     <logger name="org.springframework.jdbc.datasource.DataSourceUtils">
        <level value="info" />
    </logger>
    
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="monitor" />
	</root>
	
</log4j:configuration>
