.container {
     padding: 20px;
}

.emergency{
    padding: 140px 0 30px 0;
}
     
h1{
	font-weight: 200;
    font-family: 'Fredoka', sans-serif;
}

.display-3,
.display-5,
.display-6 {
    font-weight: 700;
    font-family: 'Fredoka, sans-serif;
}
.display-5,
.display-6 {
    font-weight: 600;
}
.wow,
.animated {
    animation-duration: 2s !important;
}
#card-body
{
	 border: bold;
}

/* 공통 스타일 */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4; /* 배경색 */
}

/* 제목 스타일 */
h1, h2, h3 {
    font-weight: 200;
}

.display-5 {
    font-weight: 700;
}

/* 버튼 스타일 */
.btn {
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

/* 카드 스타일 */
.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #9f4efc;
    border: 1px solid var(--bs-secondary) !important;
    color: var(--bs-white) !important;
    position: relative;
}
/*** Service End ***/


/* 스크롤 버튼 */
.scroll-top, .scroll-bottom {
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: none;
    z-index: 1000;
}

/* 미디어 쿼리 */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}